# Exploratory Analysis for Firm Listings

In [2]:
import pandas as pd
import pyreadstat
import numpy as np

In [3]:
cikmap = pd.read_csv('index.csv')
cikmap.head()

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
0,1000,A & E PLASTIK PAK INC,31DEC1964,31DEC1977,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,1001,A & M FOOD SERVICES INC,31DEC1978,31DEC1985,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,1002,AAI CORP,31DEC1968,31DEC1972,1745.0,COMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,1002,AAI CORP,31DEC1968,31DEC1972,1306124.0,COMPN,AAI CORP,12NOV2004,11MAY2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3
4,1003,A.A. IMPORTING CO INC,31DEC1980,31JAN1990,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
print('unique gvkeys: ' + str(len(cikmap.gvkey.unique())))
print('unique firm names: ', str(len(cikmap.conm.unique())))
print(cikmap.shape)

unique gvkeys: 54752
unique firm names:  51940
(64643, 19)

In [11]:
dta, meta = pyreadstat.read_dta('RA_project/gvkey_list.dta')
print(dta.shape)
print(cikmap.shape)

(76856, 1)
(64643, 19)

In [12]:
dta_sort = dta.sort_values(by = 'gvkey')
dta_sort.head(10)

        gvkey
19
3161   001004
2210   001013
3568   001019
1857   001021
21557  001025
3564   001034
3167   001045
21558  001048
3571   001050

In [13]:
dta_sort = dta_sort.drop(19)

In [14]:
dta_sort['gvkey'] = dta_sort['gvkey'].astype(str).astype(int)

In [15]:
print(dta_sort.shape)
print(len(dta_sort['gvkey'].unique()))
print(cikmap.shape)

(76855, 1)
76855
(64643, 19)

In [16]:
duplicate = dta_sort[dta_sort.duplicated()]
duplicate.iloc[0:5]
len(duplicate)

0

In [17]:
gvkey_list = dta_sort['gvkey'].to_list()
gvkey_db = cikmap['gvkey'].to_list()
print(len(gvkey_list), len(gvkey_db))

76855 64643

In [18]:
not_available = np.setdiff1d(gvkey_list,gvkey_db)
len(not_available)

48641