# Hedge Indicator
### Building hedge indicator dataframe from sec-api
Step 1: create df with all positive matches  
Step 2: create df with all false positive matches  
Step 3: create df with all file listings  
Step 4: merge

In [1]:
import pandas as pd
import pyreadstat
import numpy as np

In [47]:
##Load in gvkey List
gv_list, meta = pyreadstat.read_dta('gvkey_list.dta')
gv_list.head()

    gvkey
0  210835
1  210418
2  029751
3  028349
4  001331

In [48]:
## Sort list & change to int
gv_list = gv_list.sort_values(by = 'gvkey')
gv_list = gv_list.drop(19)
gv_list['gvkey'] = gv_list['gvkey'].astype(str).astype(int)
gv_list.head()

       gvkey
3161    1004
2210    1013
3568    1019
1857    1021
21557   1025

In [54]:
##Load in reference map
cikmap = pd.read_csv('index.csv')
cikmap.set_index(keys = cikmap['gvkey'], inplace=True) ##gvkeys as indices
cikmap['cik']=cikmap['cik'].fillna(-1)
cikmap.head(10)

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
gvkey,,,,,,,,,,,,,,,,,,,
1000,1000,A & E PLASTIK PAK INC,31DEC1964,31DEC1977,-1.0,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1001,1001,A & M FOOD SERVICES INC,31DEC1978,31DEC1985,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1745.0,COMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1306124.0,COMPN,AAI CORP,12NOV2004,11MAY2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3
1003,1003,A.A. IMPORTING CO INC,31DEC1980,31JAN1990,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1004,1004,AAR CORP,31MAY1966,31MAY2022,1750.0,COMPN,AAR CORP,13JAN1994,01SEP2022,29.0,0.0,0.0,88.0,0.0,2.0,36.0,240.0,1976.0,3
1005,1005,A.B.A. INDUSTRIES INC,31OCT1974,31OCT1981,-1.0,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1006,1006,ABC INDS INC,30JUN1974,30JUN1982,-1.0,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1007,1007,ABKCO INDUSTRIES INC,30SEP1974,30SEP1984,1882.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1008,1008,ABM COMPUTER SYSTEMS INC,31MAY1984,31MAY1986,-1.0,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [70]:
positive_df = pd.DataFrame(columns=['CIK','Company_Name','Filing','Date','Hedge_Positive', 'Hedge_FalsePositive'])
positive_df.head()

Empty DataFrame
Columns: [CIK, Company_Name, Filing, Date, Hedge_Positive, Hedge_FalsePositive]
Index: []

In [71]:
##import packages
from sec_api import FullTextSearchApi
queryApi = FullTextSearchApi(api_key="86712fa19f2b64be72ace0aa5aef5c749db89848915282aeaff562be7fb018fb")

##for each entry in gv_list
for index in range(5):
    
    ##Find first company CCIK
    key = gv_list['gvkey'].iloc[index]
    cik = cikmap['cik'].loc[key].astype(int).astype(str)
    print("CIK for Company " + str(index) + ": " + str(cik))
    
    ##check if CIK is in list
    if (cik != '-1'):
        ##Download
        query = {
            "query": "\"interest rate swap\" OR \
                \"hedging against interest rate\" OR \
                \"hedge interest rate\" OR \
                \"hedges interest rate\" OR \
                \"hedging interest rate\" OR \
                \"hedge for interest rate\" OR \
                \"hedges for interest rate\" OR \
                \"hedging for interest rate\" OR \
                \"hedging of interest rate\" OR \
                \"interest rate hedge\" OR \
                \"interest rate hedging\" OR \
                \"interest rate risk hedge\" OR \
                \"interest rate risk hedging\" OR \
                \"interest rate derivative\" OR \
                \"interest rate swap\" OR \
                \"interest rate contract\" OR \
                \"interest rate agreement\" OR \
                \"interest rate collar\" OR \
                \"interest rate cap\"",
            "formTypes": ["10-K","10-Q"],
            "ciks": [cik],
            "startDate": "1900-01-01",
            "endDate": "2022-09-18"
        }
        filings = queryApi.get_filings(query)
        total = filings['total']['value']
        print("Total for Company " + str(index) + ": " + str(total))
        
        ##check if it has matches
        if (total > 0):

            ##create entries for given firm
            entries = []
            for i in range(len(filings['filings'])):
                cik = filings['filings'][i]['cik']
                name = filings['filings'][i]['companyNameLong']
                form = filings['filings'][i]['formType']
                date = filings['filings'][i]['filedAt']
                hedge_p = 1
                hedge_f = 0

                entry = [cik,name,form,date,hedge_p,hedge_f]
                entries.append(entry)

            comp_df = pd.DataFrame(entries, columns=['CIK','Company_Name','Filing','Date','Hedge_Positive', 'Hedge_FalsePositive'])
            comp_df['Date'] = pd.to_datetime(comp_df['Date'])
            comp_df = comp_df.sort_values(by=['Date'])

            ##concat to hedge_df
            positive_df = pd.concat([positive_df,comp_df])
        
        ##print size of positive_df
        print("Total Entries: " + str(len(positive_df)) + "\n")

CIK for Company 0: 1750
Total for Company 0: 23
Total Entries: 23

CIK for Company 1: 61478
Total for Company 1: 12
Total Entries: 35

CIK for Company 2: 2668
Total for Company 2: 0
Total Entries: 35

CIK for Company 3: 319126
Total for Company 3: 13
Total Entries: 48

CIK for Company 4: 2880
Total for Company 4: 0
Total Entries: 48

In [72]:
##cleaning up
positive_df = positive_df.reset_index().drop(columns=['index'])
positive_df.head(50)

,CIK,Company_Name,Filing,Date,Hedge_Positive,Hedge_FalsePositive
0,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2002-08-26,1,0
1,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2002-08-26,1,0
2,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2011-09-23,1,0
3,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2011-12-22,1,0
4,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-03-26,1,0
5,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2012-07-19,1,0
6,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-09-25,1,0
7,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-12-21,1,0
8,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-03-22,1,0
9,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2013-07-26,1,0
10,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-09-25,1,0
11,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-12-20,1,0
12,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-03-25,1,0
13,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2014-07-17,1,0
14,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-09-24,1,0
15,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-12-19,1,0
16,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-03-31,1,0
17,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2015-07-15,1,0
18,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-09-25,1,0
19,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-12-18,1,0
20,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2016-03-23,1,0
21,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2016-07-13,1,0
22,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2017-07-12,1,0
23,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2002-01-16,1,0
24,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2002-01-16,1,0
25,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2008-06-09,1,0
26,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2008-09-05,1,0
27,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2008-12-22,1,0
28,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-03-04,1,0
29,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-06-04,1,0
30,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-09-02,1,0
31,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-02-09,1,0
32,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-05-06,1,0
33,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-08-05,1,0
34,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2010-11-23,1,0
35,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2005-05-13,1,0
36,319126,AFP IMAGING CORP (CIK 0000319126),10-K,2005-09-27,1,0
37,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2005-11-14,1,0
38,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2006-02-14,1,0
39,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2006-05-15,1,0
40,319126,AFP IMAGING CORP (CIK 0000319126),10-K,2006-09-15,1,0
41,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2006-11-14,1,0
42,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2007-02-12,1,0
43,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2007-05-15,1,0
44,319126,AFP IMAGING CORP (CIK 0000319126),10-K,2007-10-12,1,0
45,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2007-11-14,1,0
46,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2008-02-14,1,0
47,319126,AFP IMAGING CORP (CIK 0000319126),10-Q,2008-05-15,1,0