# Pilot Analysis
### Testing Script for One Company

In [1]:
import pandas as pd
import pyreadstat
import numpy as np

In [2]:
##Load in gvkey List
gv_list, meta = pyreadstat.read_dta('gvkey_list.dta')
gv_list.head()

    gvkey
0  210835
1  210418
2  029751
3  028349
4  001331

In [3]:
## Sort list & change to int
gv_list = gv_list.sort_values(by = 'gvkey')
gv_list = gv_list.drop(19)
gv_list['gvkey'] = gv_list['gvkey'].astype(str).astype(int)
gv_list.head()

       gvkey
3161    1004
2210    1013
3568    1019
1857    1021
21557   1025

In [4]:
##Load in reference map
cikmap = pd.read_csv('index.csv')
cikmap.set_index(keys = cikmap['gvkey'], inplace=True) ##gvkeys as indices
cikmap.head(10)

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
gvkey,,,,,,,,,,,,,,,,,,,
1000,1000,A & E PLASTIK PAK INC,31DEC1964,31DEC1977,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1001,1001,A & M FOOD SERVICES INC,31DEC1978,31DEC1985,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1745.0,COMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1306124.0,COMPN,AAI CORP,12NOV2004,11MAY2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3
1003,1003,A.A. IMPORTING CO INC,31DEC1980,31JAN1990,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1004,1004,AAR CORP,31MAY1966,31MAY2022,1750.0,COMPN,AAR CORP,13JAN1994,01SEP2022,29.0,0.0,0.0,88.0,0.0,2.0,36.0,240.0,1976.0,3
1005,1005,A.B.A. INDUSTRIES INC,31OCT1974,31OCT1981,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1006,1006,ABC INDS INC,30JUN1974,30JUN1982,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1007,1007,ABKCO INDUSTRIES INC,30SEP1974,30SEP1984,1882.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1008,1008,ABM COMPUTER SYSTEMS INC,31MAY1984,31MAY1986,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [12]:
##Find first company CCIK
key = gv_list['gvkey'].iloc[0]
cik = cikmap['cik'].loc[key].astype(int).astype(str)
cik

'1750'

In [6]:
##test for manually inputted cik
cik_TEST = cikmap['cik'].loc[1013].astype(int).astype(str)
cik_TEST

'61478'

In [13]:
##Download
##script is from pypi.org website example
from sec_api import FullTextSearchApi

queryApi = FullTextSearchApi(api_key="86712fa19f2b64be72ace0aa5aef5c749db89848915282aeaff562be7fb018fb")

query = {
  "query": "\"interest rate swap\" OR \
            \"hedging against interest rate\" OR \
            \"hedge interest rate\" OR \
            \"hedges interest rate\" OR \
            \"hedging interest rate\" OR \
            \"hedge for interest rate\" OR \
            \"hedges for interest rate\" OR \
            \"hedging for interest rate\" OR \
            \"hedging of interest rate\" OR \
            \"interest rate hedge\" OR \
            \"interest rate hedging\" OR \
            \"interest rate risk hedge\" OR \
            \"interest rate risk hedging\" OR \
            \"interest rate derivative\" OR \
            \"interest rate swap\" OR \
            \"interest rate contract\" OR \
            \"interest rate agreement\" OR \
            \"interest rate collar\" OR \
            \"interest rate cap\"",
  "formTypes": ["10-K","10-Q"],
  "ciks": [cik],
  "startDate": "1900-01-01",
  "endDate": "2022-09-18"
}

filings = queryApi.get_filings(query)

%store filings

Stored 'filings' (dict)

In [14]:
filings

{'total': {'value': 23, 'relation': 'eq'},
 'filings': [{'accessionNo': '0001104659-15-024608',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465915024608/a15-3568_110q.htm',
   'filedAt': '2015-03-31'},
  {'accessionNo': '0001104659-12-065381',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465912065381/a12-18757_110q.htm',
   'filedAt': '2012-09-25'},
  {'accessionNo': '0001104659-13-072128',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465913072128/a13-18010_110q.htm',
   'filedAt': '2013-09-25'},
  {'accessionNo': '0001104659-13-091455',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465913091455/a13-24267_110q.htm',
   'filedAt': '2013-12-20'},
  {'accessionNo': '0001104659-12-085900',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465912085900/a12-28942_110q.htm',
   'filedAt': '2012-12-21'},
  {'accessionNo': '0001104659-14-087894',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465914087894/a14-24161_110q.htm',
   'filedAt': '2014-12-19'},
  {'accessionNo': '0001104659-14-022511',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465914022511/a14-6605_110q.htm',
   'filedAt': '2014-03-25'},
  {'accessionNo': '0001104659-13-023743',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465913023743/a13-6024_110q.htm',
   'filedAt': '2013-03-22'},
  {'accessionNo': '0001104659-14-067921',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465914067921/a14-20943_110q.htm',
   'filedAt': '2014-09-24'},
  {'accessionNo': '0001104659-11-053058',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465911053058/a11-26693_110q.htm',
   'filedAt': '2011-09-23'},
  {'accessionNo': '0001104659-11-070822',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465911070822/a11-30548_110q.htm',
   'filedAt': '2011-12-22'},
  {'accessionNo': '0001104659-12-020988',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465912020988/a12-4678_110q.htm',
   'filedAt': '2012-03-26'},
  {'accessionNo': '0001047469-13-007797',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746913007797/a2216052z10-k.htm',
   'filedAt': '2013-07-26'},
  {'accessionNo': '0001104659-15-067241',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465915067241/a15-18946_110q.htm',
   'filedAt': '2015-09-25'},
  {'accessionNo': '0001047469-14-006243',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746914006243/a2220733z10-k.htm',
   'filedAt': '2014-07-17'},
  {'accessionNo': '0001104659-16-107128',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465916107128/a16-5592_110q.htm',
   'filedAt': '2016-03-23'},
  {'accessionNo': '0001104659-15-085700',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000110465915085700/a15-24369_110q.htm',
   'filedAt': '2015-12-18'},
  {'accessionNo': '0001047469-12-007300',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746912007300/a2210166z10-k.htm',
   'filedAt': '2012-07-19'},
  {'accessionNo': '0001047469-15-006136',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746915006136/a2225345z10-k.htm',
   'filedAt': '2015-07-15'},
  {'accessionNo': '0001047469-16-014299',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746916014299/a2228768z10-k.htm',
   'filedAt': '2016-07-13'},
  {'accessionNo': '0001047469-17-004528',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': '10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000104746917004528/a2232622z10-k.htm',
   'filedAt': '2017-07-12'},
  {'accessionNo': '0000912057-02-033450',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': 'EX-4.11',
   'formType': '10-K',
   'type': 'EX-4.11',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000091205702033450/a2087919zex-4_11.txt',
   'filedAt': '2002-08-26'},
  {'accessionNo': '0000912057-02-033450',
   'cik': '1750',
   'companyNameLong': 'AAR CORP (AIR) (CIK 0000001750)',
   'ticker': 'AIR',
   'description': 'EX-4.3',
   'formType': '10-K',
   'type': 'EX-4.3',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/1750/000091205702033450/a2087919zex-4_3.txt',
   'filedAt': '2002-08-26'}]}

In [23]:
# %store -r filings
##Creating dataframe
dates = []
hedge_df = pd.DataFrame(columns=['CIK','Company_Name','Filing','Date','Hedge(Positive)', 'Hedge(FalsePositive)'])
hedge_df.head()
filings

##create entries for 1 cik
entries = []
for i in range(len(filings['filings'])):
    cik = filings['filings'][i]['cik']
    name = filings['filings'][i]['companyNameLong']
    form = filings['filings'][i]['formType']
    date = filings['filings'][i]['filedAt']
    hedge_p = 1
    hedge_f = 0
    
    entry = [cik,name,form,date,hedge_p,hedge_f]
    entries.append(entry)

comp_df = pd.DataFrame(entries, columns=['CIK','Company_Name','Filing','Date','Hedge(Positive)', 'Hedge(FalsePositive)'])
comp_df['Date'] = pd.to_datetime(comp_df['Date'])
comp_df = comp_df.sort_values(by=['Date'])

##cleaning up final ds
hedge_df = pd.concat([hedge_df,comp_df])
hedge_df = hedge_df.reset_index().drop(columns=['index'])
hedge_df

,CIK,Company_Name,Filing,Date,Hedge(Positive),Hedge(FalsePositive)
0,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2002-08-26,1,0
1,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2002-08-26,1,0
2,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2011-09-23,1,0
3,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2011-12-22,1,0
4,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-03-26,1,0
5,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2012-07-19,1,0
6,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-09-25,1,0
7,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2012-12-21,1,0
8,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-03-22,1,0
9,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2013-07-26,1,0
10,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-09-25,1,0
11,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2013-12-20,1,0
12,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-03-25,1,0
13,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2014-07-17,1,0
14,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-09-24,1,0
15,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2014-12-19,1,0
16,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-03-31,1,0
17,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2015-07-15,1,0
18,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-09-25,1,0
19,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2015-12-18,1,0
20,1750,AAR CORP (AIR) (CIK 0000001750),10-Q,2016-03-23,1,0
21,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2016-07-13,1,0
22,1750,AAR CORP (AIR) (CIK 0000001750),10-K,2017-07-12,1,0

## Same thing but with WRDS

In [2]:
import wrds
db = wrds.Connection()

Enter your WRDS username [mk4449]:koshamodi23
Enter your password:········
WRDS recommends setting up a .pgpass file.
Create .pgpass file now [y/n]?: n
You can create this file yourself at any time
with the create_pgpass_file() function.
Loading library list...
Done

In [21]:
# db.list_libraries()
db.list_tables('wrdssec')

['_forms_',
 '_names_',
 '_qvards_',
 '_regtypes_',
 'bow_1993',
 'bow_1994',
 'bow_1995',
 'bow_1996',
 'bow_1997',
 'bow_1998',
 'bow_1999',
 'bow_2000',
 'bow_2001',
 'bow_2002',
 'bow_2003',
 'bow_2004',
 'bow_2005',
 'bow_2006',
 'bow_2007',
 'bow_2008',
 'bow_2009',
 'bow_2010',
 'bow_2011',
 'bow_2012',
 'bow_2013',
 'bow_2014',
 'bow_2015',
 'bow_2016',
 'bow_2017',
 'bow_cossim',
 'bow_filingsummary',
 'bow_wordsummary',
 'chars',
 'derivatives',
 'dforms',
 'document_info',
 'exhibits',
 'fforms',
 'footnotes',
 'forms',
 'items8k',
 'items8k_list',
 'missing_forms',
 'nonderivative',
 'nonderivatives',
 'reporting_owners',
 'sec_item_scores',
 'sec_item_scores_trans',
 'sec_item_words_filings',
 'sec_item_words_freq',
 'signatures',
 'wciklink_cusip',
 'wciklink_gvkey',
 'wciklink_names',
 'wciklink_ticker',
 'wrds_13f_holdings',
 'wrds_13f_link',
 'wrds_13f_summary',
 'wrds_forms',
 'wrds_forms_reg',
 'wrds_nlpsa',
 'wrds_vc_form1a',
 'wrds_vc_form1k',
 'wrds_vc_form1z',
 'wrds_vc_formc',
 'wrds_vc_formd',
 'wrds_vc_relatedpersonslist']

In [27]:
db.describe_table('wrdssec','forms')

Approximately 22397088 rows in wrdssec.forms.

         name  nullable              type comment
0       gvkey      True           VARCHAR    None
1         cik      True           VARCHAR    None
2       fdate      True              DATE    None
3  findexdate      True              DATE    None
4  lindexdate      True              DATE    None
5        form      True           VARCHAR    None
6      coname      True           VARCHAR    None
7       fname      True           VARCHAR    None
8       iname      True           VARCHAR    None
9      source      True  DOUBLE_PRECISION    None

In [28]:
db.get_table('wrdssec','forms',obs=10)

,gvkey,cik,fdate,findexdate,lindexdate,form,coname,fname,iname,source
0,None,0000000003,1994-02-16,1994-03-31,1994-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000950103-94-000082.txt,edgar/data/3/0000950103-94-000082-index.htm,2.0
1,None,0000000003,1995-02-15,1995-02-16,1995-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000934850-95-001755.txt,edgar/data/3/0000934850-95-001755-index.htm,3.0
2,None,0000000003,1996-02-14,1996-02-14,1996-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000000003-96-000001.txt,edgar/data/3/0000000003-96-000001-index.htm,3.0
3,None,0000000003,1997-02-19,1997-02-19,1997-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000934850-97-000209.txt,edgar/data/3/0000934850-97-000209-index.htm,3.0
4,None,0000000003,1998-03-02,1998-03-03,1998-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000934850-98-001281.txt,edgar/data/3/0000934850-98-001281-index.htm,3.0
5,None,0000000003,1998-03-10,1998-03-11,1998-03-31,24F-2NT/A,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000934850-98-002151.txt,edgar/data/3/0000934850-98-002151-index.htm,3.0
6,None,0000000003,1998-07-09,1998-07-09,1998-09-30,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...,edgar/data/3/0000934850-98-002871.txt,edgar/data/3/0000934850-98-002871-index.htm,3.0
7,None,0000000013,2014-02-10,2014-02-10,2014-02-10,SC 13G,CORPORATE INCOME FUND SEVENTY NINTH SHORT TERM...,edgar/data/13/0001156175-14-000006.txt,edgar/data/13/0001156175-14-000006-index.htm,1.0
8,None,0000000014,1994-02-16,1994-03-31,1994-03-31,24F-2NT,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD MON P...,edgar/data/14/0000950103-94-000083.txt,edgar/data/14/0000950103-94-000083-index.htm,2.0
9,None,0000000014,1994-03-24,1994-03-31,1994-03-31,485BPOS,DEFINED ASSET FUNDS MUNICIPAL INVT TR FD MON P...,edgar/data/14/0000950112-94-000770.txt,edgar/data/14/0000950112-94-000770-index.htm,2.0