# Pilot Analysis
### Testing Script for One Company

In [3]:
import pandas as pd
import pyreadstat
import numpy as np

In [4]:
##Load in gvkey List
gv_list, meta = pyreadstat.read_dta('gvkey_list.dta')
gv_list.head()

    gvkey
0  210835
1  210418
2  029751
3  028349
4  001331

In [5]:
## Sort list & change to int
gv_list = gv_list.sort_values(by = 'gvkey')
gv_list = gv_list.drop(19)
gv_list['gvkey'] = gv_list['gvkey'].astype(str).astype(int)
gv_list.head()

       gvkey
3161    1004
2210    1013
3568    1019
1857    1021
21557   1025

In [8]:
##Load in reference map
cikmap = pd.read_csv('index.csv')
cikmap.set_index(keys = cikmap['gvkey'], inplace=True) ##gvkeys as indices
cikmap.head(10)

,gvkey,conm,DATADATE1,DATADATE2,cik,SOURCE,coname,FNDATE,LNDATE,N10K,N10K_NT,N10K_A,N10Q,N10Q_NT,N10Q_A,NDEF,N8K,NTOT,FLAG
gvkey,,,,,,,,,,,,,,,,,,,
1000,1000,A & E PLASTIK PAK INC,31DEC1964,31DEC1977,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1001,1001,A & M FOOD SERVICES INC,31DEC1978,31DEC1985,723576.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1745.0,COMPH,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1002,1002,AAI CORP,31DEC1968,31DEC1972,1306124.0,COMPN,AAI CORP,12NOV2004,11MAY2005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,3
1003,1003,A.A. IMPORTING CO INC,31DEC1980,31JAN1990,730052.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1004,1004,AAR CORP,31MAY1966,31MAY2022,1750.0,COMPN,AAR CORP,13JAN1994,01SEP2022,29.0,0.0,0.0,88.0,0.0,2.0,36.0,240.0,1976.0,3
1005,1005,A.B.A. INDUSTRIES INC,31OCT1974,31OCT1981,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1006,1006,ABC INDS INC,30JUN1974,30JUN1982,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1007,1007,ABKCO INDUSTRIES INC,30SEP1974,30SEP1984,1882.0,COMPN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1008,1008,ABM COMPUTER SYSTEMS INC,31MAY1984,31MAY1986,NaN,NOLNK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [9]:
##Find first company CCIK
key = gv_list['gvkey'].iloc[0]
cik = cikmap['cik'].loc[key].astype(int)
cik

1750

In [15]:
##test for manually inputted cik
cik_TEST = cikmap['cik'].loc[1013].astype(int).astype(str)
cik_TEST

'61478'

In [109]:
##Download
##script is from pypi.org website example
from sec_api import FullTextSearchApi

queryApi = FullTextSearchApi(api_key="86712fa19f2b64be72ace0aa5aef5c749db89848915282aeaff562be7fb018fb")

query = {
  "query": "\"interest rate swap\" OR \
            \"hedging against interest rate\" OR \
            \"hedge interest rate\" OR \
            \"hedges interest rate\" OR \
            \"hedging interest rate\" OR \
            \"hedge for interest rate\" OR \
            \"hedges for interest rate\" OR \
            \"hedging for interest rate\" OR \
            \"hedging of interest rate\" OR \
            \"interest rate hedge\" OR \
            \"interest rate hedging\" OR \
            \"interest rate risk hedge\" OR \
            \"interest rate risk hedging\" OR \
            \"interest rate derivative\" OR \
            \"interest rate swap\" OR \
            \"interest rate contract\" OR \
            \"interest rate agreement\" OR \
            \"interest rate collar\" OR \
            \"interest rate cap\"",
  "formTypes": ["10-K","10-Q"],
  "ciks": [cik_TEST],
  "startDate": "2003-01-01",
  "endDate": "2022-09-18"
}

filings = queryApi.get_filings(query)

%store filings

Stored 'filings' (dict)

In [110]:
filings

{'total': {'value': 10, 'relation': 'eq'},
 'filings': [{'accessionNo': '0000950123-10-045635',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012310045635/c57975e10vq.htm',
   'filedAt': '2010-05-06'},
  {'accessionNo': '0000950123-10-073202',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012310073202/c59516e10vq.htm',
   'filedAt': '2010-08-05'},
  {'accessionNo': '0000950123-09-011460',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012309011460/c51682e10vq.htm',
   'filedAt': '2009-06-04'},
  {'accessionNo': '0000950137-09-001506',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095013709001506/c49733e10vq.htm',
   'filedAt': '2009-03-04'},
  {'accessionNo': '0000950123-09-040375',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012309040375/c53394e10vq.htm',
   'filedAt': '2009-09-02'},
  {'accessionNo': '0000950123-10-108231',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012310108231/c61492e10vk.htm',
   'filedAt': '2010-11-23'},
  {'accessionNo': '0000950134-08-016191',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'QUARTERLY REPORT',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095013408016191/c35324e10vq.htm',
   'filedAt': '2008-09-05'},
  {'accessionNo': '0000950137-08-008284',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095013708008284/c27249e10vq.htm',
   'filedAt': '2008-06-09'},
  {'accessionNo': '0000950123-10-010523',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-Q',
   'formType': '10-Q',
   'type': '10-Q',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095012310010523/c56171e10vq.htm',
   'filedAt': '2010-02-09'},
  {'accessionNo': '0000950152-08-010514',
   'cik': '61478',
   'companyNameLong': 'ADC TELECOMMUNICATIONS INC (CIK 0000061478)',
   'ticker': None,
   'description': 'FORM 10-K',
   'formType': '10-K',
   'type': '10-K',
   'filingUrl': 'https://www.sec.gov/Archives/edgar/data/61478/000095015208010514/n48172e10vk.htm',
   'filedAt': '2008-12-22'}]}

In [106]:
## %store -r filings
##Creating dataframe
dates = []
hedge_df = pd.DataFrame(columns=['CIK','Company_Name','Filing','Date','Hedge(Positive)', 'Hedge(FalsePositive)'])
hedge_df.head()
filings

##create entries for 1 cik
entries = []
for i in range(len(filings['filings'])):
    cik = filings['filings'][i]['cik']
    name = filings['filings'][i]['companyNameLong']
    form = filings['filings'][i]['formType']
    date = filings['filings'][i]['filedAt']
    hedge_p = 1
    hedge_f = 0
    
    entry = [cik,name,form,date,hedge_p,hedge_f]
    entries.append(entry)

comp_df = pd.DataFrame(entries, columns=['CIK','Company_Name','Filing','Date','Hedge(Positive)', 'Hedge(FalsePositive)'])
hedge_df = pd.concat([hedge_df,comp_df])

hedge_df['Date'] = pd.to_datetime(hedge_df['Date'])
hedge_df.sort_values(by=['Date'])

,CIK,Company_Name,Filing,Date,Hedge(Positive),Hedge(FalsePositive)
7,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2008-06-09,1,0
6,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2008-09-05,1,0
9,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2008-12-22,1,0
3,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-03-04,1,0
2,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-06-04,1,0
4,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2009-09-02,1,0
8,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-02-09,1,0
0,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-05-06,1,0
1,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-Q,2010-08-05,1,0
5,61478,ADC TELECOMMUNICATIONS INC (CIK 0000061478),10-K,2010-11-23,1,0